<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @admin_article_option.text %>
</p>

<%= link_to 'Edit', edit_admin_article_option_path(@admin_article_option) %> |
<%= link_to 'Back', admin_article_options_path %>
