 <!-- abstract -->
 <div class="row" id="is_abstract">
 	<section class="col col-8"> 
 		<label class="label"><%= f.label t("article.abstract") %><br></label>
 		<label class="textarea textarea-resizable"><i class="icon-append fa fa-comment"></i>   
 			<%= f.text_area :abstract, class: "custom-scroll", rows: "7" %>                
 		</label>
 	</section>
 </div>
<!-- end abstract -->