<!-- thumb upload -->
<div class="row" id="is_thumb">
	<section class="col col-4">
		<label class="label"><%= f.label t("article.thumb") %><br></label>
		<div class="input input-file">
			<span class="button"><%= f.file_field :thumb, readonly: 'true', onchange: "this.parentNode.nextSibling.value = this.value", accept: "image/jpeg, image/png, image/gif, image/jpg" %><%= t("operate.upload") %></span><input type="text" readonly="true">
		</div>
	</section>
</div>
          <!-- end thumb upload -->