<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <!-- widget-section-2 -->
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-fullscreenbutton="false" >
            <header>
                <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                <h2><%= t("visit.browser") %></h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div id="pie-chart-browser" class="chart"></div>
                    <!-- <div id="bar-chart" class="chart has-legend"></div> -->
                </div>
            </div>
        </div>
        <!-- end widget-section-2 -->
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <!-- widget-section-3 -->
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-fullscreenbutton="false" >
            <header>
                <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                <h2><%= t("visit.device") %></h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div id="pie-chart-device" class="chart"></div>
                </div>
            </div>
        </div>
        <!-- end widget-section-3 -->
    </div>
</div>