 <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false">
   <header>
      <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
      <h2><%= t("visit.pv") %></h2>
  </header>
  <div>
      <div class="jarviswidget-editbox"></div>
      <div class="widget-body">
         <div id="pv-plot" class="chart has-legend"></div>
     </div>
 </div>
</div>