// Place all the styles related to the admin/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel, .panel-heading{
	border-radius : 0px;
}
.panel-darken{
	border-color : rgba(0,0,0,0);
}
.img-responsive{
	display : inline;
}