<span class="hidden"><%= notice %></span>

<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER -->
	<i class="fa-fw fa fa-home"></i><span>首页</span></h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="well well-sm">
				<!-- Timeline Content -->
				<div class="smart-timeline">
					<ul class="smart-timeline-list">
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-file-text"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-02-06</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>文章管理模块</strong></p>
								<div class="well well-sm display-inline">
									<p>文章分类管理</p>
									<p>文章发布管理</p>
								</div>		
								
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-picture-o"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-02-09</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>相册管理模块</strong></p>
								<div class="well well-sm display-inline">
									<p>相册标签管理</p>
									<p>相册相片管理</p>
								</div>		
								
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
