<span class="hidden"><%= notice %></span>

<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	<h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER -->
	<i class="fa-fw fa fa-home"></i><span>首页</span></h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<div class="well well-sm">
				<!-- Timeline Content -->
				<div class="smart-timeline">
					<ul class="smart-timeline-list">
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-file-text"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-02-06</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>文章管理模块</strong></p>
								<div class="well well-sm display-inline">
									<p>文章分类管理</p>
									<p>文章发布管理</p>
								</div>		
								
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-picture-o"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-02-09</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>相册管理模块</strong></p>
								<div class="well well-sm display-inline">
									<p>相册标签管理</p>
									<p>相册相片管理</p>
								</div>		
								
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-file"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-06</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>文档管理模块</strong></p>
								<div class="well well-sm display-inline">
									<p>单文档管理</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-cogs"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-09</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>文章参数功能</strong></p>
								<div class="well well-sm display-inline">
									<p>分栏管理添加设置参数选项</p>
									<p>文章管理添加参数编辑功能</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-trash-o"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-10</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>回收站</strong></p>
								<div class="well well-sm display-inline">
									<p>垃圾文章处理</p>
									<p>垃圾文档处理</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-comments"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-10</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>留言板</strong></p>
								<div class="well well-sm display-inline">
									<p>留言显示</p>
									<p>留言审核</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-tasks"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-12</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>功能完善</strong></p>
								<div class="well well-sm display-inline">
									<p>批量删除</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-envelope"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-13</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>邮件功能</strong></p>
								<div class="well well-sm display-inline">
									<p>恢复留言自动发送提示邮件</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-bug"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-19</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>项目测试</strong></p>
								<div class="well well-sm display-inline">
									<p>测试并修复项目bug</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-sitemap"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-03-30</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>站点模块</strong></p>
								<div class="well well-sm display-inline">
									<p>添加目录管理、友情链接管理、横幅管理</p>
								</div>		
							</div>
						</li>
						<li>
							<div class="smart-timeline-icon">
								<i class="fa fa-bar-chart-o"></i>
							</div>
							<div class="smart-timeline-time">
								<small>2012-04-15</small>
							</div>
							<div class="smart-timeline-content">
								<p><strong>站点统计</strong></p>
								<div class="well well-sm display-inline">
									<p>添加站点PV统计，浏览器、终端使用统计</p>
								</div>		
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
