<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @admin_album_tag.text %>
</p>

<%= link_to 'Edit', edit_admin_album_tag_path(@admin_album_tag) %> |
<%= link_to 'Back', admin_album_tags_path %>
