<div class="row">
	<div class="col-md-3">This is a friend link.</div>
	<div class="col-md-3">This is a friend link.</div>
	<div class="col-md-3">This is a friend link.</div>
	<div class="col-md-3">This is a friend link.</div>
</div>