<nav class="navbar cms-navbar" role="navigation">
	<div class="container">
		<div id="navbar" class="navbar-collapse">
			<ul class="nav nav-justified">
				<% @menus.each do |menu| %>
					<li><a href="<%= menu.url %>"><%= menu.name %></a></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>